*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 225, 73);
    color: rgb(255, 37, 13);
    font-family: 'Itim', cursive;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    width: 40%;
}

form input, form button{
    margin: 0.2rem;
    padding: 0.6rem;
    font-size: 1.8rem;
    border: none;
    font-family: 'Itim', cursive;
    background-color: white;
    border-radius: 2rem;
}

form button{
    color: rgb(255,200,0);
    background-color: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}

form button:hover{
    color: white;
    background: rgb(255, 200, 0);
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: rgb(2, 119, 235);
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: rgb(253, 33, 33);
}

.todo-item {
    padding: 0rem 0.5rem;
}
.todo:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}
.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}